body {
  position: relative;
  padding-bottom: 90px;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
}

main {
  padding-top: 90px;
  padding-bottom: 30px;
}

footer {
  background-color: #213f53;
  color: #ffffff;
  height: 90px;
  width: 100%;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: inherit;
}

textarea {
  height: 100px;
}

.event_image {
  width: 60%;
  height: 180px;
  border-radius: 50%;
}

.profile-image {
  height: 180px;
  border-radius: 50%;
}

.top-image {
  background-image: url("../images/top.jpg");
  position: absolute;
  top: 60px;
  left: 0;
  height: 120px;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-image::before {
  content: '';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-image p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

#star {
  color: #26d0c9;
  font-size: 30px;
}

.rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  font-size: 20px;
}

.rating:before, .rating:after{
  content: '★★★★★';
}

.rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #26d0c9;
}

.rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
